body {
	background-color: #171717;
	background-image: url("./images/outlets.png");
	font-family: 'Roboto Condensed', sans-serif;
}
.sidenav a {
	font-size: 2em;
}
p {
	word-break: break-all;
}
a:first-child:hover {
	opacity: 0.5;
}
p a {
	font-size: 1.20em;
}
.row {
	margin-top: 4%;
}
.current {
	margin-bottom: 4%;
}
.card-image img{
	padding-left: 0.5em;
}
.files {
	font-size: 0.875em;
	font-style: italic;
}
.horizontal {
	height: 120px;
}
.button a {
	font-weight: bold;
	margin-right: -20px;
}
.card, .btn-large, .card-panel {
	border-radius: 10px;
}
.card, .btn-large, .sidenav {
	background-image: url("./images/outlets.png");
}
@media screen and (max-width: 800px) {

	nav .brand-logo {
		font-size: 1.3em;
	}
	p a {
		font-size: 1em;
	}
}